.login{
    padding-top: 10px;

    .redirect-register{
        cursor: pointer;
    }

    .reset-password{
        font-size: 0.875em;
        margin-top: 30px;
        text-decoration: none;
        float: left;
        position: relative;
        bottom: 20px;
        color: #3350B9;
        cursor: pointer;
    }
}